@charset "utf-8";

body {
    color: gray;
    font-size: 16pt;
}
h1 {
    color: blue;
    opacity: 0.2;
    font-size: 36pt;
    margin-top: -20px;
    margin-bottom: 0;
    text-align: center;
}
p {
    margin: 10px;
}
a {
    color: blue;
    text-decoration: none;
}