{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'hello/css/style.css' %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body class="container">
    <h1 class="display-4 text-primary mb-4">{{title}}</h1>
    <form action="{% url 'message' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="投稿" class="btn btn-primary">
    </form>
    <div class="mt-5"></div>
    <table class="table">
        <tr>
            <th class="py-1">タイトル</th>
            <th class="py-1">名前</th>
            <th class="py-1">時間</th>
        </tr>
    {% for item in data %}
        <tr>
            <td class="py-2">{{item.title}}</td>
            <td class="py-2">{{item.friend.name}}</td>
            <td class="py-2">{{item.pub_date}}</td>
        </tr>
    {% endfor %}
    </table>
    <ul class="pagination justify-content-center">
        {% if data.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'message' %}">&laquo; 最初</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'message' %}{{data.previous_page_number}}">&laquo; 戻る</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link">&laquo; 最初</a>
        </li>
        <li class="page-item">
            <a class="page-link">&laquo; 戻る</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link">{{data.number}}/{{data.paginator.num_pages}}</a>
        </li>
        {% if data.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'message' %}{{data.next_page_number}}">進む &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{% url 'message' %}{{data.paginator.num_pages}}">最後 &raquo;</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link">進む &raquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link">最後 &raquo;</a>
        </li>
        {% endif %}
    </ul>
</body>
</html>